body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
    margin-top: 50px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Phone number styling */
.phone-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-container span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

#contact_number {
    width: 80%;
}

button {
    width: 95%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
